head{
	background-color: blue;
}
body{
	background-color: blue;
}
.th{
	color:powder blue;
	font-family: Comic sans MS;
	font-size: 10px;
}

.td{
	color: grey;
	font-color:powder blue;
}